:root {
  --theme-color-1: #ffa473;
  --theme-color-2: #f5c15d;
}

/* Button styling */

#WorkButton {
  width: 204px;
  height: 62px;
  background-color: var(--theme-color-2);
  color: white;
  border: var(--theme-color-2);
  border-radius: 50px;
  border-width: 3px;
  border-color: var(--theme-color-2);
  font-family: "Habibi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}

/*  Headline styling */
#SeeMyWorkText {
    display: inline;
}